<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        /* background-color: rgb(249, 178, 57); */
    }
 .dummy-img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    /* mix-blend-mode: lighten; */
    
 }   
</style>
<body>
    <img src="/static/images/logo.png" class="dummy-img" alt="" srcset="">

</body>
</html>